<% wrap_layout :layout do %>
    <article>
        <h1><%= current_page.data.title %></h1>
        <time>
            <%= current_page.date.strftime('%b %e %Y') %>
        </time>
        <div class="img_top" style="background-image: url(<%= image_path(current_page.data.image) %>);">
        </div>
        <%= yield %>
        <div class="img_bot" style="background-image: url(<%= image_path(current_page.data.image) %>);">
        </div>
    </article>
<% end %>
