<% wrap_layout :layout do %>
<body>
    <header>
        <nav>
            <a href="<%= data.config['blog']['url'] %>" class="site-title"><p><%= data.config['blog']['title'] %></p></a>
            <% data.config['header'].each do |link| %>
                <a href="<%= link[1] %>"><p><%= link[0] %></p></a>
            <% end %>
        </nav>
    </header>

    <%= yield %>

    <footer>
        <p><%= data.config['blog']['footer'] %></p>
    </footer>
</body>
<% end %>
