---
layout: "index"
---
<%
h1 = data.config['blog']['title']
subtitle = data.config['blog']['subtitle']
featured = (data.config['frontPage']['featured'] != 0) ? data.config['frontPage']['featured'] : blog.articles.length
def randomClearColor()
   return (0..2).map{"%0x" % (rand * 0x60 + 0x60)}.join
end
colors = Array.new
for articleId in 0...featured
    if (data.config['colors'])
        colors << data.config['colors'].fetch(articleId, randomClearColor)
    else
        colors << randomClearColor
    end
end
%>

<main>
    <h1><%= h1 %></h1>
    <p class="subtitle"><%= subtitle %></p>
    <% blog.articles[0...featured].each_with_index do |article, id| %>
        <section style="
                        background-image: url(<%= image_path(article.data.image) %>);
                        box-shadow: inset 0 0 0 1000px #<%= colors[id] %>CC">
            <a href="<%= article.url %>">
                <h2>
                    <%= article.title %>
                </h2>
                <time datetime="<%= article.date.strftime('%F') %>">
                    <%= article.date.strftime('%b %e %Y') %>
                </time>
            </a>

            <div class="section_content">
                <%= strip_tags(article.summary) %>
                <a class="more" href="<%= article.url %>">Read more</a>
            </div>
        </section>
    <% end %>

    <% if blog.articles.length > featured %>
        <button id="showold">Show older articles</button>
        <section class="old_articles">
        <% for i in featured..blog.articles.length-1
            article = blog.articles[i] %>

                <a href="<%= article.url %>">
                        <p><%= article.title %></p>
                </a>
        <% end %>
        </section>
    <% end %>
</main>
