---
image: "images/clearblog.png"
---
<%
featured = (data.config['frontPage']['featured'] != 0) ? data.config['frontPage']['featured'] : blog.articles.length
def randomClearColor()
   return (0..2).map{"%0x" % (rand * 0x60 + 0x60)}.join
end
colors = Array.new
for articleId in 0...featured
    if (data.config['colors'])
        colors << data.config['colors'].fetch(articleId, randomClearColor)
    else
        colors << randomClearColor
    end
end
%>
<main>
    <% blog.articles[0...featured].each_with_index do |article, id| %>
        <section style="
                        background-image: url(<%=data.config['blog']['url'] %><%= image_path(article.data.image) %>);
                        box-shadow: inset 0 0 0 1000px #<%= colors[id] %>CC">

                <h2><%= link_to article.title, article.path %></h2>

                <time datetime="<%= article.date.strftime('%F') %>">
                    <%= link_to article.date.strftime('%b %e %Y'), article.path %>
                </time>

            <div class="section_content">
                <p><%= strip_tags(article.summary) %></p>
            </div>

        </section>
    <% end %>

    <% if blog.articles.length > featured %>
        <input type="checkbox" id="showold-trigger" />
        <label id="showold" for="showold-trigger">Show older articles</label>
        <section class="old_articles">
        <% for i in featured..blog.articles.length-1
            article = blog.articles[i] %>

                <a href="<%= article.url %>">
                        <p><%= article.title %></p>
                </a>
        <% end %>
        </section>
    <% end %>
</main>
